<a href="/addNewEvent"><button class="button"> + New Event</button></a>

{{#if events.length}}
<div class="container-dashboard">
     {{#each events as |event|}}
        {{> Eventinfo_LoggedUser event}}
    {{/each}}
{{/if}}






