
<p> Invitation page   </p>

{{#if events.length}}
<div class="container-dashboard">
     {{#each events as |event|}}
         <p> {{event.user.firstname}}</p>

        {{> Eventinfo_Invitation event firstname=event.user.firstname lastname=event.user.lastname}}
    {{/each}}
{{/if}}




